@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900);

html {
  background-color: black;
}
  
body {
  border-radius: 30px;
  font-size: 15pt;
  font-family: "Merriweather", serif;
  line-height: 130%;
}

h1, h2, h3, h2, h3, h4 {
  padding: 50px 50px 15px 50px;
  margin-bottom: 10px;
  font-size: 140%;
}

ul, p, pre {
  margin: 15px 70px 15px 50px;
}

ul {
  padding-left: 40px;
}

li {
  margin-bottom: 30px;
}

li li {
  margin-bottom: 5px;
}

li ul {
  margin: 5px 0px 10px 0px;
  padding-left: 30px;
  list-style-type: disc;
  font-size: 90%;
}

li p {
  margin: 0px;
}

li pre {
  margin: 5px 0px 10px 0px;
}

pre, span.code {
  font-size: 95%;
}

q {
  quotes: "“" "”" "‘" "’";
}

section { top: -150%; }
section[aria-selected] { top: 0; }
section[aria-selected] ~ section { top: +150%; }

/* colors */

body {
  background-color: white;
}

h1, h2, h3, h4 {
  background-color: rgb(255, 235, 163);
  border-bottom: 4px solid rgb(255, 172, 84); 
}

pre, span.code {
  color: rgb(95, 125, 115);
}

em {
  font-style: normal;
  color: rgb(184, 14, 13);
}

a:link {
  color: rgb(35, 98, 176);
}

a:visited {
  color: rgb(98, 65, 150);
}
